#container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:auto;
    grid-template-areas: 
    ". a ."
    "b c c";
}
#a {
    grid-area:a;
}


#b {
    grid-area:b;
}


#c {
    grid-area:c;
}